<p id="notice"><%= notice %></p>

<h1>Vocabulary Terms</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Uri</th>
      <th>Code</th>
      <th>TGM label</th>
      <th>LCSH label</th>
      <th>Vocabulary</th>
      <th>Vocabulary Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabulary_terms.each do |vocabulary_term| %>
      <tr>
        <td><%= vocabulary_term.label %></td>
        <td><%= link_to vocabulary_term.uri, vocabulary_term.uri %></td>
        <td><%= vocabulary_term.code %></td>
        <td><%= vocabulary_term.tgm_label %></td>
        <td><%= vocabulary_term.lcsh_label %></td>
        <td><%= link_to vocabulary_term.vocabulary.label, vocabulary_term.vocabulary %></td>
        <td><%= link_to vocabulary_term.vocabulary_collection.label if vocabulary_term.vocabulary_collection %></td>
        <td><%= link_to 'Show', vocabulary_term %></td>
        <td><%= link_to 'Edit', edit_vocabulary_term_path(vocabulary_term) %></td>
        <td><%= link_to 'Destroy', vocabulary_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vocabulary Term', new_vocabulary_term_path %>
