<table class="table table-striped <%= dom_class(@presenter) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= @presenter.attribute_to_html(:creator, catalog_search_link: true ) %>
  <%= @presenter.attribute_to_html(:date_created) %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= @presenter.permission_badge %>
    </td>
  </tr>
  <tr>
    <th>State</th>
    <td>
      <%= @presenter.state_badge %>
    </td>
  </tr>
  <%= @presenter.attribute_to_html(:embargo_release_date) %>
  <%= @presenter.attribute_to_html(:lease_expiration_date) %>
  <%= @presenter.attribute_to_html(:rights) %>
  <%= @presenter.attribute_to_html(:identifier) %>
  <% if can? :edit, @presenter.id %>
    <%= @presenter.attribute_to_html(:workflow_note) %>
  <% end %>
  </tbody>
</table>
