<%= bulk_edit_page_header %>

<% if !@members.empty? %>
  <div data-action="bulk-label">
    <div class="col-md-3" id="label-tools">
      <h2>Label & Order</h2>
      <%= render "bulk_edit_actions" %>
      <%= render "iiif_fields" %>
    </div>
    <div class="col-md-3" id="label-tools-spacer" class="fixed"></div>
    <div class="col-md-9" id="order-grid">
      <div class="btn-group" role="group" data-action="list-toggle">
        <button type="button" class="btn btn-default list" aria-label="List">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default active grid" aria-label="Grid">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </button>
      </div>
      <ul id="sortable" data-id="<%= @presenter.id %>" data-class-name="<%= @presenter.model_name.plural %>" class="list-unstyled grid">
        <% @members.each do |member| %>
          <%= render "bulk_edit_member", node: member %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="col-md-12" id="upload-tools">
  <h2>Attach Files</h2>
  <%= render 'multiple_upload', presenter: @presenter %>
  <%= render "server_upload" %>
</div>
