<div id="list-toolbar">
  <%= link_to "Back to Parent", polymorphic_path([main_app, @presenter]) %>
  <a href="" data-action="add-to-list">
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      Add a Section
    </button>
  </a>
  <button data-action="submit-list" class="btn btn-primary">Save</button>
</div>
<ul class="sortable" data-id="<%= @presenter.id %>" data-class-name="<%= @presenter.model_name.plural %>">
  <% @logical_order.nodes.each do |node| %>
    <%= render "structure_node", node: node %>
  <% end %>
  <% @logical_order.unstructured_objects.nodes.each do |node| %>
    <%= render "structure_node", node: node %>
  <% end %>
</ul>
