<p id="notice"><%= notice %></p>

<h1>Vocabulary Collections</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Vocabulary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabulary_collections.each do |vocabulary_collection| %>
      <tr>
        <td><%= vocabulary_collection.label %></td>
        <td><%= link_to vocabulary_collection.vocabulary.label, vocabulary_collection.vocabulary %></td>
        <td><%= link_to 'Show', vocabulary_collection %></td>
        <td><%= link_to 'Edit', edit_vocabulary_collection_path(vocabulary_collection) %></td>
        <td><%= link_to 'Destroy', vocabulary_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vocabulary Collection', new_vocabulary_collection_path %>
