<br />
<p>
  <%=t('hyrax.product_name') %> is a secure application that enables
  <%=t('hyrax.institution.name') %> to efficiently carry out varied
  and complex workflows related to digitization while adhereing to standards
  and best practices which ensure that our content will be preserved and
  accessible to our community and the world for generations.
</p>

<%= render partial: 'welcome/work_types', locals: { label: 'Books, Manuscripts, and Scanned Documents',
                                                    types: [ScannedResource, MultiVolumeWork] } %>

<%= render partial: 'welcome/work_types', locals: { label: 'Maps and Geospatial Data',
                                                    types: [ImageWork, RasterWork, VectorWork] } %>

<%= render partial: 'welcome/work_types', locals: { label: 'Collections',
                                                    types: [Collection] } %>

<% if can?(:create, EphemeraBox) %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-classify-work">
        <div class="panel-heading">Ephemera</div>
        <div class="panel-body">
          <ul class="classify-work">
            <% EphemeraProject.all.order(:name).each do |project| %>
              <li class="work-type work-type-<%= project.name %>">
                <h4 class="title"><%= project.name %></h4>
                <%= content_tag(:div, nil, class: ['work-icon', "icon-#{project.name.downcase.gsub(' ','-')}"]) %>
                <%= link_to 'View Boxes', main_app.ephemera_project_path(project),
                  class: "add-button btn btn-primary #{dom_class(project, 'view')}" %>
                <%= link_to 'Add Box', main_app.ephemera_project_add_box_path(project),
                  class: "add-button btn btn-primary #{dom_class(project, 'add_new')}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

