<br />
<p>
  <%=t('hyrax.product_name') %> is a secure application that enables
  <%=t('hyrax.institution.name') %> to efficiently carry out varied
  and complex workflows related to digitization while adhereing to standards
  and best practices which ensure that our content will be preserved and
  accessible to our community and the world for generations.
</p>

<%= render partial: 'welcome/work_types', locals: { label: 'Books, Manuscripts, and Scanned Documents',
                                                    types: [ScannedResource, MultiVolumeWork] } %>

<%= render partial: 'welcome/work_types', locals: { label: 'Maps and Geospatial Data',
                                                    types: [ImageWork, RasterWork, VectorWork] } %>

<%= render partial: 'welcome/work_types', locals: { label: 'Collections',
                                                    types: [Collection] } %>
