<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1><%= @presenter %> </h1>
  <% if @parent_presenter %>
    <ul class="breadcrumb">
      <li><%= link_to @parent_presenter, polymorphic_path([main_app, @parent_presenter]) %></li>
      <li class="active"><%= @presenter.human_readable_type %></li>
    </ul>
  <% else %>
    <span class="human_readable_type">(<%= @presenter.human_readable_type %>)</span>
  <% end %>
<% end %>

<% collector = can?(:collect, @presenter.id) %>
<% editor    = can?(:edit,    @presenter.id) %>

<%= render 'geo_concerns/representative_media', presenter: @presenter %>
<%= render 'geo_concerns/attributes', presenter: @presenter %>
<%= render 'geo_concerns/related', presenter: @presenter %>
<%= render 'workflow_actions', presenter: @presenter if @presenter.workflow.actions.present? %>
<%= render "show_actions", collector: collector, editor: editor%>
