<table class="table table-striped <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
    <%= render 'geo_works/attribute_rows', presenter: presenter %>
    <%= presenter.attribute_to_html(:permission_badge, label: 'Access Rights') %>

    <%= presenter.attribute_to_html(:rights, render_as: :rights) %>
    <% if @presenter.respond_to? :state_badge %>
    <tr>
      <th>State</th>
      <td>
        <%= @presenter.state_badge %>
      </td>
    </tr>
    <% end %>
    <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date) %>
    <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date) %>
    <% if @presenter.respond_to? :rights_statement %>
      <%= @presenter.rights_statement %>
    <% end %>
    <% if @presenter.respond_to? :holding_location %>
      <%= @presenter.holding_location %>
    <% end %>
    <%= render 'hyrax/base/member_of_collections', presenter: @presenter %>
  </tbody>
</table>