<%= form_for([ephemera_project, ephemera_field]) do |f| %>
  <% if ephemera_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ephemera_field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% ephemera_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.select :name, controllable_fields %>
  </div>

  <% vocabulary_id = ephemera_field.vocabulary.id if ephemera_field.vocabulary %>
  <div class="field">
    <%= f.label :vocabulary_id %>
    <%= f.collection_select :vocabulary_id, Vocabulary.order(:label), :id, :label, selected: vocabulary_id %>
  </div>

  <div class="actions">
    <%= f.submit(class: 'btn btn-primary') %>
    <% if params[:action] == "new" %>
      <%= link_to 'Cancel', @ephemera_project, class: 'btn btn-default' %>
    <% else %>
      <%= link_to 'Cancel', @ephemera_project, class: 'btn btn-default' %>
      <%= link_to 'Delete This Field', ephemera_project_ephemera_fields_path(@ephemera_project, ephemera_field), class: 'btn btn-danger pull-right', data: { confirm: "Delete this Field?" }, method: :delete %>
    <% end %>
  </div>
<% end %>
