<%= form_for(ephemera_field) do |f| %>
  <% if ephemera_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ephemera_field.errors.count, "error") %> prohibited this ephemera_field from being saved:</h2>

      <ul>
      <% ephemera_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :ephemera_project_id %>
    <%= f.number_field :ephemera_project_id %>
  </div>

  <div class="field">
    <%= f.label :vocabulary_id %>
    <%= f.text_field :vocabulary_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
