<p id="notice"><%= notice %></p>

<h1>Ephemera Fields</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ephemera project</th>
      <th>Vocabulary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ephemera_fields.each do |ephemera_field| %>
      <tr>
        <td><%= ephemera_field.name %></td>
        <td><%= ephemera_field.ephemera_project_id %></td>
        <td><%= ephemera_field.vocabulary %></td>
        <td><%= link_to 'Show', ephemera_field %></td>
        <td><%= link_to 'Edit', edit_ephemera_field_path(ephemera_field) %></td>
        <td><%= link_to 'Destroy', ephemera_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ephemera Field', new_ephemera_field_path %>
