<h1><%= t("headers.bulk_edit") %></h1>
<%= link_to "Back to Parent", polymorphic_path([main_app, @presenter]) %>
<div class="flash-message">
  <div class="container">
    <div class="col-md-12">
      <div class="alert alert-success ui-corner-all alert-dismissable hidden" data-reorder-action="flash">
        <a class="close" href="#">×</a>
        <span class="text">
        </span>
      </div>
    </div>
  </div>
</div>
<div data-action="bulk-label">
  <%= render "bulk_edit_actions" %>
  <ul id="sortable" data-id="<%= @presenter.id %>" class="list-unstyled col-xs-8">
    <% @members.each do |member| %>
      <li class="row" data-reorder-id='<%= member.id %>'>
        <%= simple_form_for [main_app, member], remote: true do |f| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= f.input :title, as: :string, input_html: { name: "file_set[title][]" }, value: member.to_s, label: false %>
            </div>
            <div class="panel-body">
              <div class="col-xs-3 text-center">
                <%= render_thumbnail_tag member %>
              </div>
              <div class="col-xs-3">
                <%= f.input :viewing_hint, collection: [:"", :"non-paged", :"facing-pages"], as: :radio_buttons, label: false, defaults: { input_html: { class: '' }}%>
              </div>
              <div class="col-xs-6">
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
