<h1><%= t("headers.bulk_edit") %></h1>
<div class="flash-message">
  <div class="container">
    <div class="col-md-12">
      <div class="alert alert-success ui-corner-all alert-dismissable hidden" data-reorder-action="flash">
        <a class="close" href="#">×</a>
        <span class="text">
        </span>
      </div>
    </div>
  </div>
</div>

<div data-action="bulk-label">
  <div class="col-xs-3">
    <div class="col-xs-12">
      <%= link_to "Back to Parent", polymorphic_path([main_app, @presenter]) %>
    </div>
    <div class="col-xs-12">
      <%= render "bulk_edit_actions" %>
    </div>
    <div class="col-xs-12">
      <%= render "iiif_fields" %>
    </div>
  </div>
  <div class="col-xs-8" id="order-grid">
    <div class="col-xs-12">
      <div class="btn-group col-xs-12" role="group" data-action="list-toggle">
        <button type="button" class="btn btn-default active list" aria-label="List">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default grid" aria-label="Grid">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <ul id="sortable" data-id="<%= @presenter.id %>" class="list-unstyled col-xs-12">
      <% @members.each do |member| %>
        <%= render "bulk_edit_member", node: member %>
      <% end %>
    </ul>
  </div>
</div>
