<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @vocabulary.label %>
</p>

<%= link_to 'Back', vocabularies_path %> |
<%= link_to 'Edit', edit_vocabulary_path(@vocabulary) %> |
<%= link_to 'Add Collection', vocabulary_add_collection_path(@vocabulary.id) %> |
<%= link_to 'Add Term', vocabulary_add_term_path(@vocabulary.id) %>


<h2>Collections</h2>
<ul>
  <% VocabularyCollection.where(vocabulary_id: @vocabulary.id).each do |collection| %>
    <li><%= link_to collection.label, collection %></li>
  <% end %>
</ul>

<h2>Terms</h2>
<ul>
  <% VocabularyTerm.where(vocabulary_id: @vocabulary.id).each do |term| %>
    <li><%= link_to term.label, term %></li>
  <% end %>
</ul>
