<p id="notice"><%= notice %></p>

<h1>
  <%= link_to 'Vocabularies', vocabularies_path %> »
  <% if @vocabulary.parent %>
    <%= link_to @vocabulary.parent.label, @vocabulary.parent %> »
  <% end %>
  <%= @vocabulary.label %>
</h1>

<%= link_to 'All Vocabularies', vocabularies_path %> |
<%= link_to 'Edit', edit_vocabulary_path(@vocabulary) %> |
<%= link_to 'Add Sub-Vocabulary', vocabulary_add_sub_vocabulary_path(@vocabulary.id) %> |
<%= link_to 'Add Term', vocabulary_add_term_path(@vocabulary.id) %>

<h2>Sub-Vocabularies</h2>
<ul>
  <% Vocabulary.where(parent_id: @vocabulary.id).order(:label).each do |sub_vocab| %>
    <li><%= link_to sub_vocab.label, sub_vocab %></li>
  <% end %>
</ul>

<h2>Terms</h2>
<ul>
  <% VocabularyTerm.where(vocabulary_id: @vocabulary.id).order(:label).each do |term| %>
    <li><%= link_to term.label, term %></li>
  <% end %>
</ul>
