<table class="table table-striped <%= dom_class(@presenter) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= @presenter.attribute_to_html(:creator, render_as: 'rtl_linked' ) %>
  <% (PlumSchema.display_fields - [:creator]).each do |display_field| %>
    <%= @presenter.attribute_to_html(display_field) %>
  <% end %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= @presenter.permission_badge %>
    </td>
  </tr>
  <% if @presenter.respond_to? :state_badge %>
    <tr>
      <th>State</th>
      <td>
        <%= @presenter.state_badge %>
      </td>
    </tr>
  <% end %>
  <%= @presenter.attribute_to_html(:embargo_release_date) %>
  <%= @presenter.attribute_to_html(:lease_expiration_date) %>
  <% if @presenter.respond_to? :rights_statement %>
    <%= @presenter.rights_statement %>
  <% end %>
  <% if @presenter.respond_to? :holding_location %>
    <%= @presenter.holding_location %>
  <% end %>
  <%= @presenter.attribute_to_html(:identifier) %>
  <%= @presenter.attribute_to_html(:source_metadata_identifier) %>
  <% if defined?(presenter.member_of_collection_presenters) && presenter.member_of_collection_presenters.size > 0 %>
    <%= render 'hyrax/base/member_of_collections', presenter: @presenter %>
  <% end %>
  </tbody>
</table>
