<!-- hyrax view overridden to suppress embargo/lease options -->
<fieldset>
  <legend class="legend-save-work">Visibility</legend>
  <ul class="visibility">
    <li class="radio">
      <label>
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC, data: { 'target': '#collapsePublic' }  %>
        <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC) %>
        <%= t('hyrax.visibility.open.note_html', type: f.object.human_readable_type) %>
        <div class="collapse" id="collapsePublic">
          <%= t('hyrax.visibility.open.warning_html', label: visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC)) %>
        </div>
      </label>
    </li>
    <li class="radio">
      <label>
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
        <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED) %>
        <%= t('hyrax.visibility.authenticated.note_html', institution: institution_name) %>
      </label>
    </li>
    <li class="radio">
      <label>
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
        <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE) %>
        <%= t('hyrax.visibility.private.note_html') %>
      </label>
    </li>
  </ul>
</fieldset>
